.container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: red;
  text-align: justify;
  border:1px solid black;
}

h1,p {
  color: blue;
}

img ~ p {
  background-color: lightgray;
}

a::before {
  content: 'FKPWFPS'
}

a::after {
  content: '\1F605'
}

p{
  border: 1px solid ;
}

a[href='#']:hover {
  background-color: pink;
}
/* Select all that start with info */
*[class^="info"]{
  font-style: oblique;
}

*[class*="text"]{
  font-size: large;
}